.deliveryGift {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin-block: 6rem;
}

.delivery--card {
  text-align: center;
  cursor: pointer;
}

.delivery--card img {
  width: 2rem;
}

@media screen and (max-width: 778px) {

  .deliveryGift {
    display: block;
    margin-block: 1rem;
  }
  .delivery--card {
    margin-block: 1rem;
  }
}